<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body style="background-color: #333333">

    <nav class="navbar navbar-expand-lg">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:8000" style="color:#ff2222">Home</a>
            <a class="nav-link" style="color:#ff2222" href="http://127.0.0.1:8000/user/">Bus Officials</a>
            <a class="nav-link" style="color:#ff2222" href="http://127.0.0.1:8000/check/">Passengers</a>
          </li>
        </ul>
      </div>
    </nav>



    <div class="jumbotron jumbotron-fluid" style="background-color: #ff2222;color:white">
  <div class="container">
    <h1 class="display-6">Welcome</h1>

  </div>
</div>

  </body>
</html>
